/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 6em;
  color: #28104e;
}

/* h2 {
  font-family: 'Syne', sans-serif;
} */

a{
  text-decoration: none;
  transition: all 0.5s ease;
  color: #967bb6;
}

a:hover{
  text-decoration: underline;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.main-section{
  width: 80vw;
  position: absolute;
  /* margin-right: 0; */
  right: 0;
  /* background-color: rgb(167, 167, 42); */
}

header{
  position: fixed;
  top: 2em;
  left: 2em;
}

li{
  list-style: none;
  margin: .1em auto;
}

.bottom-of-the-barrel{
  /* position: absolute; */
  z-index: 1;
  text-align: right;
  margin-top: auto;
  opacity: 0.1;
}

