@media only screen and (max-width: 600px) {
  body {
    text-align: center;
  }

  header {
    visibility: hidden;
  }

  .section {
    height: auto !important;
  }

  .bottom-of-the-barrel{
    visibility: hidden;
  }

  .main-section{
    width: 100vw !important;
    padding: 2em;
  }

  h1{
    font-size: 3em !important;
  }

  h2{
    font-size: 2em !important;
  }

  .section p{
    width: 100% !important;
  }
  /* // eslint-disable-next-line react-hooks/exhaustive-deps */
  .coming-soon-overlay{
    min-width: 85% !important;
    position: absolute !important;
    top: 0  !important; 
    right: 0  !important; 
    padding: 3px  !important;
  }

  .contents{
    display: inline-block !important;
  }

  .project-img{
    width: 100%;
    height: 100%;
  }

  .liveDemo-img{
    width: 100%;
    height: 100%;
  }

  .overlay-content{
    width: 85% !important;
    height: 98% !important;
    overflow: scroll !important;
    /* margin-top: 1.5em !important; */
    /* background-color: #28104e; */
  }

  .cancel{
    top: .5em !important;
    right: .1em !important;
    z-index: 2;
  }

  .skill {
    padding: .3em !important;
  }

  .skill-div{
    margin-right: 0 !important;
  }

  .card{
    margin-right: 0 !important;
  }

  .sup-coming-soon{
    font-size: 10px !important;
    padding: 3px !important;
  }

  .contact-link{
    font-size: 14px !important;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 6em;
  color: #28104e;
}

h2 {
  /* font-family: 'Syne', sans-serif; */
  font-family: 'Space Grotesk', sans-serif;
  font-size: 4em;
}

h3, h4 {
  /* font-family: 'Syne', sans-serif; */
  font-family: 'Space Grotesk', sans-serif;
}
a{
  text-decoration: none;
  transition: all 0.5s ease;
  color: #967bb6;
  transition: all .5s ease-in;
  opacity: 0.7;
}

a:hover{
  text-decoration: underline;
  transition: all .5s ease-in;
  color: #28104e;
  opacity: 1;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-section{
  width: 80vw;
  position: absolute;
  /* margin-right: 0; */
  right: 0;
  /* background-color: rgb(167, 167, 42); */
}

header{
  position: fixed;
  top: 2em;
  left: 2em;
}

header li{
  list-style: none;
  margin: .5em auto;
}


.bottom-of-the-barrel{
  /* position: absolute; */
  z-index: 1;
  text-align: right;
  margin-top: auto;
  opacity: 0.1;
}

.skill-div{
  display: inline-block;
  background-color: lavender;
  border: 1px solid #28104e;
  border-radius: 5px;
  width: auto;
  margin: 0 1em 1em 0;
  transition: all .5s ease-in;
}

.skill-div:hover{
  cursor: pointer;
  background-color: #28104e;
  border: 1px solid lavender;
  color: lavender;
  transition: all .5s ease-in;
}

.skill-div h4{
  text-align: center;
  padding: 1em;
}

.skill-set{
  margin-top: .5em;
}

.skills-list{
  margin-top: .5em;
}

.skill {
  list-style: none;
  display: inline;
  padding: 1em;
}

.skill span {
  vertical-align: middle;
}

.skill-btn{
  margin-bottom: 2em;

}

.project-list-item{
  list-style: none;
  display: inline;
}

/* .contact-list{
  margin: 1em 0 1em 0;
} */


.contact-list span a{
  text-decoration: underline;
}

.filters{
  margin: 1em 0;
}

button {
  width: fit-content;
  padding: 7px;
  margin-right: 5px;
  display: inline-block;
  background-color: lavender;
  border: 1px solid #28104e;
  border-radius: 5px;
  color: #28104e;
  transition: all .5s ease-in;
  font-family: 'Space Grotesk', sans-serif;
}

.filters-btn:hover{
  cursor: pointer;
  background-color: #28104e;
  border: 1px solid lavender;
  color: lavender;
  transition: all .5s ease-in;
}

.resume{
  padding: 1.5em 2.5em;
}

.cards{
  width: 100%;
  
}

.card{
  position: relative;
  display: inline-block;
  width: 250px;
  height: 265px;
  vertical-align: top;
  /* background-color: #28104e; */
  margin-right: 2em;
  margin-bottom: 10px;
  margin-top: 1em;
}

#projects{
  overflow: hidden;
  position: relative;
}

.barrel-projects{
  position: absolute !important;
  bottom: 0;
  right: 0;
}

.card:hover{
  cursor: pointer;
}

.card:hover .coming-soon-overlay {
  opacity: 1;
}

.card h3{
  font-family: 'Space Grotesk', sans-serif;
}

img{
  border-radius: 5px;
}

.card-link{
  text-decoration: none;
  opacity: 1;
  transition: all .5s ease-in;
}

.card-link:hover{
  text-decoration: none;
  opacity: 1;
  color: #28104e;
  transition: all .5s ease-in;
}

.card-link:hover h3{
  text-decoration: underline;
  transition: all .5s ease-in;
}
.card-link:hover  img{
  filter: grayscale(0%);
  transition: all .5s ease-in;
}

.card img{
  object-fit: cover;
  filter: grayscale(100%);
  transition: all .5s ease-in;
}

@keyframes smooth-appear {
  to{
    bottom: 20px;
    opacity:1;
  }
}

.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lavender;
  cursor: pointer;
  z-index: 2;
  animation: smooth-appear 1s ease forwards;
}

.overlay-content{
  width: 80%;
  height: 80%;
  /* background-color: #28104e; */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px;
  overflow: hidden;
}

.contents{
  display: grid;
  vertical-align: top;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  vertical-align: top;
  /* margin: auto; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px;
  overflow: scroll; */
}


.project-picture{
  grid-column: 1 ;
  grid-row: 1  / 3;
  /* background-color: antiquewhite; */
}

.project-links{
  grid-column: 1;
  grid-row: 3;
  /* background-color: rgb(168, 126, 70); */
}

.project-tools{
  grid-column: 2  / span 2;
  grid-row: 1;
  /* background-color: rgb(95, 90, 82); */
}

.project-live-demo{
  grid-column: 2   / span 2;
  grid-row: 2 / span 2;
}


.card-span {
  position:absolute;
  bottom: 0;
  right: 0;
  
  text-align:center;
}

.card-span span {
  vertical-align: middle;
}

.project-pict{
  position: relative;
  width: 50%;
  max-width: 300px;
}

.project-image{
  display: block;
}

.coming-soon-overlay {
  position: absolute; 
  top: 0; 
  right: 0; 
  background: rgb(249, 247, 247);
  width: 40%;
  transition: .5s ease;
  color: #28104e;
  padding: 3px;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 15px;
  border-top-right-radius: 5px;
}

